/* Banner decoration start */
#banner {
  background-image: url(../siteMedia/bannerImage.jpg);
  background-position: top;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  height: 250px;
  display: grid;
  grid-template-rows: 0.8fr 0.2fr;
}

#titleSubtitle {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  align-self: center;
}

#titleSubtitle > * {
  color: white;
  margin: 0;
  text-shadow: black 1px 1px 1px;
}

#titleSubtitle > h1 {
  font-family: iceberg;
  text-decoration: underline;
  font-size: 52px;
}

#titleSubtitle > h2 {
  font-family: imFell;
  font-size: 36px;
}

#banner > #referAcustomer {
  color: white;
  font-family: notoSans;
  justify-self: end;
  margin-right: 15px;
  align-self: end;
  position: relative;
  bottom: 8px;
  font-size: 23px;
}

@media (min-width: 0px) and (max-width: 900px) {
  #titleSubtitle {
    margin-left: 10px;
  }

  #titleSubtitle > h1 {
    font-size: 6.8vw;
  }

  #titleSubtitle > h2 {
    font-size: 5.3vw;
  }

  #banner > #referAcustomer {
    font-size: 3.3vw;
  }

  #mainContent > #latestVehiclesTitle {
    font-size: 6vw;
  }

  #noCarsText {
    font-size: 3.5vw;
  }

  #mainContent > #clickForInventory {
    font-size: 3.5vw;
  }
}

/* Banner end */

/* Main content start */
#mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainContent > h2 {
  margin: 0;
  font-family: iceberg;
  font-size: 42px;
  color: white;
}

#noCarsText {
  margin: 0;
  color: white;
  font-family: notoSans;
  text-align: center;
}

#mainContent > #latestVehiclesContainer {
  font-size: 20px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

/* This is where the design for each should be. */
/* .car {
    height: 250px;
    width: 250px;
    background-color: red;
  } */

#latestVehiclesContainer > p {
  grid-column: 1 / 4;
  justify-self: center;
}

#clickForInventory {
  margin: 25px 0 0 0;
  font-family: notoSans;
  color: white;
  background-color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  text-decoration: none;
}
