@font-face {
  font-family: iceberg;
  src: url(./fonts/Iceberg-Regular.ttf);
}

@font-face {
  font-family: imFell;
  src: url(./fonts/IMFellDoublePicaSC-Regular.ttf);
}

@font-face {
  font-family: notoSans;
  src: url(./fonts/notoSans.ttf);
}

body {
  height: 100vh;
  height: 100svh;
  margin: 0;
  background: rgb(7, 11, 15);
  background: linear-gradient(
    180deg,
    rgba(7, 11, 15, 1) 50%,
    rgba(30, 49, 68, 1) 100%
  );
}

#wrapper {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navigation menu start */
#navigationMenu {
  font-family: iceberg;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 12px;
  max-height: 120px;
  box-sizing: border-box;
  border-bottom: 1px solid white;
}

#siteLogo,
#navigationButtonsContainer {
  grid-row: 1;
  grid-column: 1;
}

/* Remove the size later. */
#siteLogo {
  height: 125px;
  width: 125px;
  margin-left: 125px;
}

#navigationButtonsContainer {
  justify-self: center;
  align-self: center;
  display: flex;
  width: 50%;
  max-width: 850px;
  justify-content: end;
  gap: 35px;
  font-size: 28px;
}

#navigationButtonsContainer > *:hover {
  transform: scale(1.08);
  transition: 300ms transform;
}

#navigationButtonsContainer > * {
  transition: 300ms transform;
}

/* Navigation menu end */
