* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
}

#wrapper {
    height: 100%;
}

#mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: black;
    height: 80px;
    border-bottom: gray 2px solid;
}

#mainNav > menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    user-select: none;
}

#mainNav > menu > div, #mainNav > menu > a {
    user-select: none;
    color: white;
    transition: color 300ms;
    text-decoration: none;
}

#mainNav > menu > div:hover, #mainNav > menu > a:hover {
    color: orange;
    cursor: pointer;
    transition: color 300ms;
}

img {
    height: 50px;
    width: 100px;
}

#welcomeSquare {
    height: 500px;
    display: flex;
    background-image: url(./siteMedia/carBackground.gif);
    background-position: center;
    background-size: cover;
    padding-left: 20px;
}

#welcomeSquare > #introSquare {
    color: red;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcomeSquare > #introSquare > h2 {
    font-style: italic;
}

#introImage > h1 {
    color: white;
}

#latestCarsContainer {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

#latestCarsContainer > #latestCars {
    display: flex;
    gap: 15px;
    align-items: center;
}

#latestCarsContainer > #latestCars > a > img {
    height: 200px;
    width: 250px;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    #mainNav > menu {
        display: none;
    }
}