* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
}

#wrapper {
    height: 100%;
}

#mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: #6283a6;
    height: 80px;
    border-bottom: gray 2px solid;
}

#mainNav > menu {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    user-select: none;
}

#mainNav > menu > div, #mainNav > menu > a {
    user-select: none;
    color: white;
    transition: color 300ms;
    text-decoration: none;
    font-weight: bold;
}

#mainNav > menu > div:hover, #mainNav > menu > a:hover {
    color: black;
    cursor: pointer;
    transition: color 300ms;
}

img {
    height: 50px;
    width: 100px;
}

@media (min-width: 851px) {
    #hamburgerMenu {
        display: none;
    }
} 

@media (min-width: 0px) and (max-width: 850px) {
    #mainNav > menu {
        display: none;
    }

    #mainNav > #hamburgerMenu > div {
        height: 5px;
        width: 30px;
        border-bottom: 2px solid black;
    }

    #mainNav > #hamburgerMenu:hover {
        cursor: pointer;
    }
}

#phoneMenuPopUp {
    height: 50vh;
    width: 50vw;
    display: grid;
    background-color: beige;
    border: solid 1px black;
    animation-name: smoothMenu;
    animation-duration: 400ms;
}

#phoneMenuPopUp > div {
    display:grid;
    grid-template-rows: 0.1fr 0.9fr;
}

#phoneMenuPopUp > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: black;
    color:white;
    justify-self: end;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border: solid black 1px;
    border-radius: 5px;
       
}

#phoneMenuPopUp > div > ul {
    padding: 0;
    list-style: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    gap: 10px;
    letter-spacing: 1.5px;
    font-size: 18px;
    user-select: none;
}


@keyframes smoothMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}